PORT=8000
MONGODB_URI=mongodb+srv://akhilver093_db_user:your-password@cluster0.e480j0q.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NGYxYTJiM2M0ZDVlNmY3YThiOWMwZDEiLCJ1c2VybmFtZSI6ImFraGlsIiwiZW1haWwiOiJha2hpbEBleGFtcGxlLmNvbSIsImlhdCI6MTc4Nzc3NDg2MCwiZXhwIjoxNzg3ODYxMjYwfQ.5glr2YX5_n9r0mw9rlk3xwr_lSIZDv5RZuAwAVsCaZA
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI3MGEyYjhjOWQxZTJmM2E0YjVjNmQ3ZTgiLCJ1c2VybmFtZSI6InRlc3R1c2VyIiwiZW1haWwiOiJ0ZXN0QGV4YW1wbGUuY29tIiwiaWF0IjoxNzg3Nzc0OTUxLCJleHAiOjE3ODc4NjEzNTF9.8xYRJ6BIcVTXhQOgxPX0QhLSp7yT2ar0u38PUmwcAyE
REFRESH_TOKEN_EXPIRY=10d